<h1>Carrito</h1>
<div class="container_cart">
    {{#each products}}
        <div class="container_product_cart">
            <p>Producto: {{this.product.title}}</p>
            <p>${{this.product.price}}</p>
            <p>Cantidad:{{this.quantity}}</p>
        </div>
    {{/each}}
    {{#if productsExist}}
        <button id="btn_purchase" data-id="{{cartID}}">Comprar</button>
    {{/if}}
</div>
<script src="/js/purchase.js"></script>