<!-- Chat Handlebars -->
<main class="main-chat">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chat en Vivo: <span id="email">{{email}}</span></h2>
        </div>
        <div id="chat-messages" class="chat-messages">
            <!-- Aquí se mostrarán los mensajes -->
        </div>
        <form action="" id="formulario-chat" class="chat-input-container">
            <input type="text" id="messageInput" class="chat-input" placeholder="Escribe un mensaje...">
            <input type="submit" id="sendButton" class="chat-send-button">
        </form>
        </div>
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/chat.js"></script>