<main>
    <div class="category">
        <h2 class="title_category">Tecno</h2>
        <div class="container_category" id="container__tecno"></div>
        <h2 class="title_category">Almacen</h2>
        <div class="container_category" id="container__almacen"></div>
        <h2 class="title_category">Muebles</h2>
        <div class="container_category" id="container__muebles"></div>
    </div>
</main>
<script src="/js/index.js"></script>