<main>
    <div>
        <h2>Reestrablecer contraseña</h2>
    </div>
    <form id="formulario">
        <label class="labelBox" for="email">Escriba su correo electrónico</label>
        <input class="inputBox" type="email" id="email" name="email" required>
        <input class="submitButton" type="submit" value="Enviar">
    </form>
    <div id="response"></div>
</main>
<script src="/js/resetPassword.js"></script>