<main>
    <h1 class="title">Reestrablecer contraseña</h1>
    <div class="section_formResetPassword">
        <form class="formResetPassword" id="formulario">
            <label class="labelBox" for="email">Escriba su correo electrónico</label>
            <input class="inputBox" type="email" id="email" name="email" required>
            <input class="submitButton" type="submit" value="Enviar">
        </form>
    </div>
    <div class="response_resetPassword" id="response"></div>
</main>
<script src="/js/resetPassword.js"></script>