<main>
    <h1>Escriba su nueva contraseña</h1>
    <form id="formulario">
        <label class="labelBox" for="password">Escriba su nueva contraseña</label>
        <input class="inputBox" type="password" id="password" name="password" required>
        <label class="labelBox" for="newPassword">Repetir su nueva contraseña</label>
        <input class="inputBox" type="password" id="newPassword" name="newPassword" required>
        <input class="submitButton" type="submit" value="Enviar" id="btnEnviar" data-id="{{token}}">
    </form>
    <div id="response"></div>
</main>
<script src="/js/resetPasswordForm.js"></script>