<main>
    <h1 class="title">Escriba su nueva contraseña</h1>
    <div class="section_formResetPassword">
        <form class="formResetPassword" id="formulario">
            <label class="labelBox" for="password">Escriba su nueva contraseña</label>
            <input class="inputBox" type="password" id="password" name="password" required>
            <label class="labelBox" for="newPassword">Repetir su nueva contraseña</label>
            <input class="inputBox" type="password" id="newPassword" name="newPassword" required>
            <input class="submitButton" type="submit" value="Enviar" id="btnEnviar" data-id="{{token}}">
        </form>
    </div>
    <div class="response_resetPassword" id="response"></div>
</main>
<script src="/js/resetPasswordForm.js"></script>