<main>
    <h1>Usuarios</h1>
    <button id="btn-eliminar">Eliminar usuarios inactivos</button>
    <div id="card-container" class="card-container"></div>
</main>
{{!-- Script para extraer del node modules --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/users.js"></script>