<h1>Usuarios</h1>
<button id="btn-eliminar">Eliminar usuarios inactivos</button>
<div id="card-container" class="card-container"></div>
{{!-- Script para extraer del node modules --}}
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/users.js"></script>